<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials :: head (${post.title})}">
</head>
<body>
    <nav th:replace="~{partials :: navbar}"></nav>
    <div class="main-container">
        <div class="text-container">
            <h1><span th:text="${post.title}"></span></h1>
            <p><span th:text="${post.body}"></span></p>
            <p>Created By: <span th:text="${post.user.email}"></span></p>
            <a href="/posts" class="text-links back-btn">Back</a>
        </div>
        <footer th:replace="~{partials :: footer}"></footer>
    </div>
    <script th:replace="~{partials :: js}"></script>
</body>
</html>