* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Chalkboard, sans-serif;
}

body {
    background-color: #eeeeee;
}

.navbar {
    font-size: 18px;
    background-color: #222831;
    padding-bottom: 10px;
}

.hb-button {
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
    color: rgb(54, 54, 54);
    font-size: 25px;
    padding: 5px 8px;
    border-style: double;
}

.logo {
    display: inline-block;
    text-decoration: none;
    font-size: 45px;
    margin-top: 5px;
    margin-left: 15px;
    font-family: Chalkduster, cursive;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}
span.nav-header {
    color: #ff7777;
}

.nav-container {
    text-align: center;
    list-style-type: none;
    display: none;
}

.nav-container li {
    text-align: center;
    margin: 15px auto;
}

a.nav-text {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Chalkboard, sans-serif;
    letter-spacing: 2px;
    padding: 5px 20px;
}

.text-links {
    text-decoration: none;
    font-size: 20px;
    color: #ff7777;
    font-family: Chalkboard, sans-serif;
    letter-spacing: 2px;
    padding: 5px 20px;
}

.text-links:hover h2 {
    color: #222831;
    font-family: Chalkduster, cursive;
}

.back-btn {
    display: flex;
    width: 5em;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

.error-field {
    border: 1px solid #ff5252;
}

.back-btn:hover {
    color: #222831;
    font-family: Chalkduster, cursive;
}

.nav-container li a:hover {
    color: #ff7777;
}

.active {
    display: block;
}

.text-container {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.text-container h1 {
    font-family: Chalkboard, sans-serif;
    letter-spacing: 5px;
    font-size: 50px;
}

.create-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.create-form > #title {
    width: 40%;
    padding: .25em;
}

.create-form > #body {
    width: 70%;
    height: 15em;
    padding: 0.5em;
}

.post {
    padding: 10px;
}

.post h2 {
    display: contents;
}

.footer {
    text-align: center;
    margin: 2.5em auto;
}

.main-container {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    justify-content: space-between;
    font-family: Chalkboard, sans-serif;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .logo {
        margin-top: 0;
    }

    .hb-button {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }

    .nav-container {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-container li {
        margin: 0;
    }
}





