<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/ace4380aab.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:fragment="header (header)">
        <h1 th:text="${header}">Welcome to Life's a blog</h1>
    </header>
    <nav th:fragment="navbar" th:class="navbar">
        <button class="hb-button" id="hb-btn">
            <i class="fas fa-bars"></i>
        </button>
        <a class="logo" href="/"><span class="nav-header">Life's a</span> Blog</a>
        <ul class="nav-container" id="nav">
            <li><a href="/" class="nav-links nav-text">Home</a></li>
            <li><a href="/posts" class="nav-links nav-text">Posts</a></li>
            <li><a href="/posts/create" class="nav-links nav-text">Create</a></li>
            <li>
                <a href="/roll-dice" class="nav-links nav-text">Dice game</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a class="nav-links nav-text" href="/sign-up">Register</a>
            </li>
            <li sec:authorize="!isAuthenticated()">
                <a class="nav-links nav-text" href="/login">Login</a>
            </li>
            <li>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" th:method="post">
                    <button class="btn btn-link" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <footer th:fragment="footer" th:class="footer">
        <p>&copy; 2023 Life's a Blog</p>
    </footer>
    <script th:fragment="js" th:src="@{/js/script.js}"></script>
</body>
</html>