<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guess</title>
</head>
<body>
    <h1>Roll Dice Game</h1>
    <p th:if="${roll == null}">Guess a number:</p>
    <p th:if="${roll}">You guessed: <span th:text="${guess}"></span></p>
    <p th:if="${message}"><span th:text="${message}"></span></p>
    <div th:if="${roll == null}">
        <a th:href="@{/roll-dice/1}">1</a>
        <a th:href="@{/roll-dice/2}">2</a>
        <a th:href="@{/roll-dice/3}">3</a>
        <a th:href="@{/roll-dice/4}">4</a>
        <a th:href="@{/roll-dice/5}">5</a>
        <a th:href="@{/roll-dice/6}">6</a>
    </div>
    <div th:if="${roll}">
        <p><a th:href="@{/roll-dice}">Roll again</a></p>
    </div>
</body>
</html>